@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: #5b2386;
  font-family: "GmarketSans";
}

button {
  /* 버튼 요소에서 hover시 cursor생성 */
  cursor: pointer;
}

/* 숨김 태그 */
.hidden {
  display: none;
}

h1 {
  background: url(../img/clock.png) no-repeat;
  background-position: center center;
  width: 564px;
  height: 265px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 265px;
}

.header-tit {
  vertical-align: middle;
  height: 98.1390609741211px;
  width: 516.500244140625px;
}

.연습-img {
  display: block;
  width: 486px;
  height: 28px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.txt-desc {
  background: url(../img/quotes.png) no-repeat;
  background-position: 50% 10px;
  width: 493px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}

.txt-desc p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.txt-desc strong {
  font-size: 24px;
  font-weight: 700;
}

#section-cont-inp {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

#section-cont-inp p {
  font-size: 24px;
  margin-bottom: 24px;
  color: white;
}

#section-cont-inp input {
  text-align: center;
  /* 입력시 텍스트가 움직이는 현상을 방지 */
  /* 인라인 요소의 높이를 고정 */
  line-height: 61px;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 24px;
  font-weight: 400;
}

.btn-exc {
  background-color: #fcee21;
  font-size: 24px;
  font-weight: 700;
  color: #5b2386;
  padding: 18px 49px;
  border-radius: 56px;
  border: 1px solid black;
  margin-top: 100px;
}

#section-cont-inp .click-img {
  position: absolute;
  width: 63.99px;
  height: 76.88px;
  bottom: -20px;
}

#section-result {
  text-align: center;
  margin-bottom: 100px;
}

#section-result p {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

#section-result p:nth-child(2) {
  margin-bottom: 30px;
}

#section-result strong {
  /* 인라인 요소 baseline 가운데 정렬 */
  vertical-align: middle;
  font-size: 72px;
  font-weight: 700;
  /* 양 옆 padding으로 간격 */
  padding: 0 16px;
}

.btn-go {
  background-color: #fcee21;
  color: #5b2386;
  border: 1px solid black;
  border-radius: 56px;
  font-size: 24px;
  font-weight: 700;
  padding: 21px 49px;
}

.btn-share {
  color: #5b2386;
  background-color: white;
  border-radius: 56px;
  border: 1px solid black;
  font-size: 24px;
  font-weight: 700;
  padding: 21px 49px;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

footer img {
  margin-bottom: 30px;
}

footer p {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

/* 모달창 */
.cont-modal {
  font-family: "OTEnjoystoriesBA";
  background-color: white;
  color: #5b2386;
  box-sizing: border-box;
  width: 800px;
  height: 800px;
  padding: 100px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
  display: flexbox;
  align-items: center;
}

.cont-modal p {
  font-size: 36px;
  font-weight: 700;
}

.cont-modal strong {
  font-size: 96px;
  font-weight: 700;
}

.cont-modal .btn-go {
  margin-top: 74px;
}

/* 로딩 */

.section-loading {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.section-loading img {
  width: 100px;
  height: 100px;
}

/* 회전시키기 */
.rotate {
  animation: rotate 2s linear infinite;
  transform-origin: 50% 50%;
}
